@font-face {
    font-family: 'born2bSportyFS';
    src: url('../assets/fonts/Born2bSportyFS.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter_24pt-Regular';
    src: url('../assets/fonts/Inter_24pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'adobeDia';
    src: url('../assets/fonts/Adobe Dia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }